.questionnaire{
    padding: 3% 5%;
    height: 230px;
    background: url('../../Images/Questionnaire/questionnairebackground.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.title-questionnaire{
    text-align: center;
    font-size: 80px;
    font-weight: 700;
    text-transform: uppercase;
    width: 50%;
    line-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.questonnaire-actions{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5% 0 0 0;
}
.questonnaire-actions1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2% 0 4% 0;
}
.back{
    background-color: transparent;
    height: 60px;
    width: 400px;
    color: #000000;
    font-size: 24px;
    font-weight: 500;
    border: 1px solid #000000;
    outline: none;
}
.next{
    background-color: #F3B7CE;
    height: 60px;
    width: 400px;
    color: #000000;
    font-size: 24px;
    font-weight: 500;
    border: 1px solid #000000;
    outline: none;
    margin: 0 0 0 2%;
}
.save{
    background-color: transparent;
    height: 60px;
    width: 400px;
    color: #000000;
    font-size: 24px;
    font-weight: 700;
    border: 0;
    outline: none;
    text-decoration: underline;
    margin: auto 0 0 2%;
}
.questions{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.questions-title{
    font-size: 40px;
    font-weight: 700;
    color: #000000;
    margin: 2% 0 0% 0;
}
.question-input{
    width: 90%;
    border-bottom: 1px solid #000000;
    outline: none;
    border-right: 0;
    border-top: 0;
    border-left: 0;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    padding: 1%;
}
.ideal-customers {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap; /* Allows content to wrap on smaller screens */
    gap: 10px; /* Adds spacing between rows on smaller screens */
}
.customer-text{
    font-size: 40px;
    font-weight: 700;
    color: #000000;
    margin: 2% 0 0 0;
}
.male,.female{
    width: 150px; /* Prevents buttons from becoming too large on larger screens */
    height: 40px;
    background-color: transparent;
    color: #000000;
    border: 1px solid #000000;
    text-align: center;
}
.male:hover,.female:hover , .male-active , .female-active{
    width: 150px; /* Prevents buttons from becoming too large on larger screens */
    height: 40px;
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #000000;
    text-align: center;
}

.male-buttons, .female-buttons {
    display: flex;
    gap: 10px;
}

.male-btn, .female-btn {
    flex-grow: 1; /* Allows buttons to grow evenly across available space */
    max-width: 200px; /* Prevents buttons from becoming too large on larger screens */
    height: 30px;
    background-color: transparent;
    color: #000000;
    border: 1px solid #000000;
    text-align: center;
}

.male-btn:hover, .female-btn:hover {
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #000000;
}
 
.male-btn:disabled{
    opacity: 0.5;
    cursor: not-allowed;
}
.female-btn:disabled{
    opacity: 0.5;
    cursor: not-allowed;
}
.female-image , .male-image{
    cursor: pointer;
    width: 75%;
    margin: 0 0 0 10%;
}
.male-image-disable , .female-image-disable{
    cursor: not-allowed;
    opacity: 0.5;
    width: 75%;
    margin: 0 0 0 10%;
}

.male-btn.active, .female-btn.active {
    background-color: #000000; /* Active background color */
    color: #ffffff; /* Active text color */
    border: 1px solid #000000; /* Active border color */
  }
  
/* THANKYOU CARD*/
.thankyou-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 5% 2%;
}
.thank-you-text{
    font-size: 100px;
    font-weight: 700;
}
.thank-you-desc{
    font-size: 40px;
    font-weight: 700;
}
.back-to-home{
    width: 400px;
    height: 60px;
    background-color: transparent;
    border: 1px solid #000000;
    color: #000000;
    font-size:24px;
    font-weight: 500;

}
/* THANKYOU CARD*/

