/* .parens-fix::before {
  content: '(';
  font-family: Arial;
}
.parens-fix::after {
  content: ')';
  font-family: Arial;
} */


.common-navbar{
    height: 65px;
    border-bottom: 1px solid black;
    padding: 0.5% 2%;
    display: flex;
    width: 100%;
}
.nav-logo{
    width: 20%;
}
.nav-items{
    width: 40%;
    display: flex;
    margin: 0.5% 0 0 20%;
}
.nav-items p{
    margin: 0 0 0 10%;
}
.profile{
    width: 30%;
    display: flex;
    position: relative;
    margin: 0 0 0 5%;
}
.profile-input{
    width: 195px;
    border-radius: 20px;
    outline: none;
    border: 0;
    background-color: #F3F3F3;
    padding: 2% 10%;
    height: 30px;
    margin: auto;
}
.search-icon{
    position: absolute;
    width: 20px;
    margin: 1%;
    left: 15%;
    top: 15%;
}
.cart-icon,.user-icon{
    margin: 0 0 0 3%;
    width: 40px;
}
.profile-name{
    background-color: pink;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000000;
}



@media screen and (max-width:1705px) and (min-width:1024px) {
    .profile{
        margin: 0 0 0 0%;
    }
    .profile-name{
        margin: 1% 0 0 1%;
    }
    .search-icon{
        left: 3%;
        top: 20%;
    }
}


@media screen and (max-width:1024px) and (min-width:765px) {
    .search-icon{
        left: 8%;
    }
    .profile{
        width: 40%;
    }
    .nav-items{
        margin: 1% 0 0 2%;
    }
    /* .nav-container{
        margin-bottom: 8%;
    } */

    
}

@media screen and (max-width:768px) and (min-width:441px) {
    .nav-items{
       display: none;
    }
    .profile{
        width: 75%;
    }
    .profile-name{
        margin: 1% 0 0 2%;
    }
    .search-icon{
        left: 18%;
        top: 20%;
    }
}


@media screen and (max-width:441px)  {
   .profile{
    width: 40%;
   }
   .nav-logo{
    width: 60%;
    margin: 2% 0 0 5%;
   }
   .profile-name{
    margin: 5% 0 0 3%;
   }
}

@media screen and (max-width:375px)  {

    .profile{
     width: 40%;
    }
    .nav-logo{
     width: 60%;
     margin: 2% 0 0 5%;
    }
    .profile-name{
     margin: 5% 0 0 3%;
    }
    .nav-items{
        display: none;
    }
 }