.loader-bg {
    background-image: url(../../../Images/Background/skybg-min.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loader{
    margin: 10% 0 0 0;
    animation: loaderimg 2s linear infinite;
    
}
  @keyframes loaderimg {
   0%{
      transform: rotate(0deg);
     }
  100%{
      transform: rotate(360deg);
     }
  }
  

