.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}
select::after {
  content: '▼'; /* Unicode for arrow */
  font-size: 16px; /* Adjust the size */
  color: #007bff; /* Adjust the color */
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none; /* Prevent interaction with the icon */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
input:focus{
  background-color: transparent !important;
  outline: none;
}

input:-webkit-autofill:focus {
  background-color: transparent!important; /* Change to your desired color */
  color: #000 !important;              /* Ensure text color is appropriate */
  -webkit-text-fill-color: #000;       /* Text color inside the autofilled field */
  transition: background-color 5000s ease-in-out 0s; /* Prevents autofill color from flashing */
}
