@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family:'Helvetica';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Helvetica";   /*Can be any text*/
  src:  url("./Fonts/helvetica-neue-5/HelveticaNeueMedium.otf") format("opentype");
  font-weight: 600;
}

@font-face {
  font-family: "Helvetica";   /*Can be any text*/
  src:  url("./Fonts/helvetica-neue-5/HelveticaNeueLight.otf") format("opentype");
  font-weight: 300;
}
@font-face {
  font-family: "Helvetica";   /*Can be any text*/
  src: url("./Fonts/helvetica-neue-5/HelveticaNeueBold.otf") format("opentype");
  font-weight: 800
}
@font-face {
  font-family: "Helvetica";   /*Can be any text*/
  src: 
    url("./Fonts/helvetica-neue-5/Helvetica-Normal\ Regular.ttf") format('truetype');
  font-weight: 400; /* Regular weight */
  font-style: normal;
}
.star {
  clip-path: polygon(
    50% 0%, 
    61% 35%, 
    98% 35%, 
    68% 57%, 
    79% 91%, 
    50% 70%, 
    21% 91%, 
    32% 57%, 
    2% 35%, 
    39% 35%
  );
  border-radius: 8%;
}
p{
  font-family: Helvetica;
}
