.footer-section{
    background-color: #000000;
    /* height: 450px; */
    width: 100%;
    padding: 2% 3%;
}
.footer{
    display: flex;
}
.left-content{
    width: 40%;
}
.right-content{
    width: 60%;
    display: flex;
}
.right-content li{
    list-style-type: none;
    text-align: start;
}
.right-content ul{
    padding: 0;
}
.footer-text-left{
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    margin: 2% 0 0 0;
}
.footer-input{
    background-color: transparent;
    outline: none;
    border-bottom: 1px solid #686868;
    color: #FFFFFF;
    padding: 1% 5%;
    position: relative;
    font-size: 14px;
    border-top: 0;
    border-right: 0;
    border-left: 0;
}
.input-message{
    position: absolute;
    /* left: 3%; */
    /* margin: 0.5% 0 0 0; */
    top: 10%;
}

.join-text{
    font-size: 24px;
    font-weight: 700;
    color: #F3B7CE;
    margin: 2% 0 0 0;
}
.message-text{
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
}
.subscribe{
    background-color: #F3B7CE;
    color: #000000;
    width: 100px;
    height: 25px;
    outline: none;
    font-size: 16px;
    font-weight: 700;
    margin: 2% 0 0 0;
    border: 0;
}
.platform,.information
{
    width: 30%;
}
.contact-us{
    width: 42%;
}
.platform,.information,.contact-us p{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
}
.right-content li{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}
.contact-us p{
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
}
hr{
   width: 93%;
   color: grey;  
}
.social-icons{
    display: flex;
    border-radius:50%;
    background-color: #F3B7CE;
    height: 50px;
    width: 55px;
    align-items: center;
    justify-content: center;
}
.footer-bottom{
    display: flex;
    width: 100%;
}
.copyright{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    width:70%
}
.policies{
    display: flex;
    width: 30%;
    float: right;
}
.policies a{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 0 8%;
}

@media screen and (max-width:1705px) and (min-width:1024px) {
    hr{
        width: 97.5%;
    }
}

@media screen and (max-width:1024px) and (min-width:768px) {
   .contact-us{
    width: 48%;
   }
   .copyright{
    width: 55%;
   }
   .policies{
    width: 45%;
   }
   .footer-input{
    padding: 1% 8%;
   }
   .input-message{
    margin: .3% 0 0 0;
   }
}

@media screen and (max-width:768px) and (min-width:441px) {
    .footer-section{
        /* height: 545px; */
        width: 100%;
        padding: 2% 3%;
    }
    .footer{
        flex-direction: column-reverse;
    }
    /* .right-content{
        width: 100%;
        margin: 2% 0 0 0;
    } */
    .policies{
        width: 50%;
    }
    .copyright{
        font-size: 14px;
        width: 50%;
    }
    .policies a{
      font-size: 14px;
    }
    hr{
        width: 95%;
    }
    .subscribe{
        margin: 5% 0 0 0;
    }
    .footer-input{
        padding: 2% 10%;
    }
    .social-icons{
        width:50px
    }
 }
@media screen and (max-width:441px){
    .footer{
        flex-direction: column;
        padding: 30px 0 12px 0;;
    }
    .footer-input{
        padding: 1% 10%;
    }
   .footer-section{
    width: 100%;
    /* height: 900px; */
    padding: 2% 7%;
   }
   .platform,.information{
    width: 50%;
   }
   .contact-us{
    width: 100%;
   }
   .left-content{
    width: 100%;
    margin: 0 0 7% 0;
   }
   .right-content{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
   }
   .right-content p,.right-content li,.footer-text-left {
   color: #ECEAEB;
   }
 
.footer-section hr {
    border: none; /* Remove default border */
    height: 1px; /* Set thickness */
    background-color: white; /* Ensure it takes white color */
    width: 100%;
}
   .footer-bottom{
    flex-direction: column;
    width: 100%;
   }
   .policies{
    width: 100%;
    justify-content: space-between;
   }
   .policies a {
    margin: 0 0 8% 0%;
   }
   .copyright{
    width: 100%;
    margin: 12px 0 20px 0;
   }

   .input-message{
    top: 15%;
   }
}

@media screen and (max-width:375px) {
    .platform,.information{
        width: 50%;
       }
       .contact-us{
        width: 100%;
       }
       .contact-us p{
        margin-bottom: 2px;
       }
    .social-icons{
        height: 50px;
    }
}